.lesson-grid {
  display: grid;
  border: 2px solid yellow;
  grid-template-columns: 5% minmax(0, 1fr) 5%;
  grid-template-rows: auto;
  row-gap: 10px;
  grid-template-areas:
    ". header ."
    ". video ."
    ". sections .";
}

.header {
  grid-area: header;
  border: 2px solid green;
}

.video-player {
  border: 2px solid red;
  height: 480px;
  grid-area: video;
}

.sections {
  border: 2px solid blue;
  height: 150px;
  grid-area: sections;
}

.sections-selector {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  /* Hide the scrollbar in Firefox */
  scrollbar-width: none;

  /* Hide the scrollbar in IE/Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar in Webkit browsers */
.sections-selector::-webkit-scrollbar {
  display: none;
}

.section {
  border: 2px solid black;
  width: 200px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}

.lesson-form {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;
}

.lesson-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.lesson-instrument {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.lesson-url {
  grid-column: 1 / span 3;
  grid-row: 2 / 3;
}

.lesson-url.input[type="text"] {
  min-width: 100%;
  size: 100%;
}

.lesson-action-buttons {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: end;
}

.lesson-item {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  width: 50%;
}

.lesson-item-thumbnail {
  grid-column: 1 / 2;
  grid-row: 1 / span 3;
  place-self: center;
}

.lesson-item-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 10px;
}

.lesson-item-subtitle {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 10px;
}

.lesson-list {
  display: flex;
  flex-wrap: wrap;
  gap 10px;
}
