body {
  margin: 0;
}

.lesson-grid {
  display: grid;
  /* border: 2px solid yellow; */
  color: var(--neutral);
  height: 100vh;
  background-color: var(--bg);
  /* prettier-ignore */
  grid-template-columns: 5% minmax(0, 1fr) 5%;
  /* prettier-ignore */
  grid-template-rows: 10% minmax(0, 1fr) 20%;
  row-gap: 10px;
  grid-template-areas:
    ". header ."
    ". video ."
    "zoom sections .";
}

h1,
h2 {
  color: var(--primary);
  font-family: "superMagic", "Super Magic", fantasy;
  text-shadow:
    1px 1px 1px var(--accent),
    2px 2px 1px var(--accent);
}

a {
  color: var(--secondary);
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.header {
  grid-area: header;
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
}

.header h1 {
  order: 0;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
  font-family: "superMagic", "Super Magic", fantasy;
  text-transform: capitalize;
  text-shadow:
    1px 1px 1px var(--accent),
    2px 2px 1px var(--accent);
}

.header-actions {
  display: flex;
  order: 1;
  justify-content: right;
  align-items: center;
  margin-left: auto;
  gap: 5px;
}

.video-player {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: center;
  grid-area: video;
  background-color: black;
}

.zoom-actions {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-evenly;
  grid-area: zoom;
  width: 100%;

  button, input[type="submit"] {
    all: unset;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--bg-dark)
  }
}
