.section-form-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

.section-form-name {
  order: 0;
  flex-grow: 1;
}

.section-form-name input[type="text"] {
  width: 100%;
}

.section-form-playback {
  order: 0;
}

.section-form-playback input[type="number"] {
  width: 30%;
}

.section-form-loop {
  order: 1;
}

.section-action-buttons {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: right;
  gap: 10px;
}

.section-item {
  display: inline-grid;
  grid-template-rows: 50% 50%;
  border: 2px solid black;
  grid-template-areas:
    "section-item-top"
    "section-item-bottom";
  height: 100px;
  width: 250px;
}

.section-playing {
  display: inline-grid;
  grid-template-rows: 50% 50%;
  border: 2px solid black;
  grid-template-areas:
    "section-item-top"
    "section-item-bottom";
  height: 100%;
  width: 100%;
}

.section-item-top {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  grid-area: section-item-top;
  padding: 5px;
}

.section-item-title {
  order: 0;
  cursor: pointer;
  font-weight: bold;
  text-overflow: clip;
}

.section-item-actions {
  order: 1;
  margin-left: auto;
}

.section-item-bottom {
  display: flex;
  grid-area: section-item-bottom;
  gap: 10px;
  justify-content: center;
}
