<article>
  <section>
    <h1>Welcome to <span class="banner-big">Along</span>!</h1>
    <p>
      Along is a web application to help practice along (he he) to YouTube instruction videos.
    </p>
    <p>
      You can create <strong>Lessons</strong> by entering a YouTube video URL and then split the video in <strong>Sections</strong> that you can practice to by looping them over and over again, vastly simplifying the setup for practice sessions.
    </p>
    <p>
      No more dragging the scrubber back over and over again. Set up once and practice with ease! Time to play along!
    </p>
  </section>
</article>
