<h1>Welcome to Along!</h1>

<p>
  A web application to make it easier to practice along to YouTube music instrument video lessons (where enabled).
</p>
<% if user_signed_in? %>
  <%= link_to "Lessons", lessons_path %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
