<article>
  <section>
    <h1>¡Bienvenido a <span class="banner-big">Along</span>!</h1>
    <p>
      Along es una aplicación web para practicar con videos instructivos de YouTube
    </p>
    <p>
      Puedes crear <strong>Lecciones</strong> ingresando un link de un video de YouTube y luego dividir el video en <strong>Secciones</strong> que luego puedes practicar reproduciéndolas en bucle una y otra vez, simplificando de gran manera la preparación para tus sesiones de práctica.
    </p>
    <p>
      No más arrastrar la barra de desplazamiento una y otra vez. ¡Configúralo una vez y practica con facilidad! ¡Hora de practicar con Along!
    </p>
  </section>
</article>
