<div class="range" data-controller="range" data-range-player-outlet=".player">
   <div class="range-slider">
     <span class="range-selected"></span>
   </div>
   <div class="range-input">
     <%= form.range_field :start_time,
       value: section.start_time.to_i.to_f || 0.0,
       class: "min",
       min: 0.0,
       max: lesson.duration_in_seconds,
       step: 0.01,
       data: { action: "input->range#update", "range-target" => "min" } %>
     <%= form.range_field :end_time,
       value: section.end_time.to_i.to_f || lesson.duration_in_seconds.to_f,
       class: "max",
       min: 0.04,
       max: lesson.duration_in_seconds,
       step: 0.01,
       data: { action: "input->range#update", "range-target" => "max" } %>
   </div>
 </div>
