<%= content_tag :div,
  class: "range",
  data: {
    controller: "range",
    action: [
      "zoom-field:addZoomLevel@window->range#addZoomLevel",
      "zoom-field:removeZoomLevel@window->range#removeZoomLevel",
      "player:resetRange@window->range#resetRange",
      "section-form:convertFields@window->range#convertFields"
    ].join(" "),
    "range-player-outlet" => ".player",
    "range-min-default-value" => section.start_time_second,
    "range-max-default-value" => section.end_time_second
} do %>
   <div class="range-slider">
     <span class="range-selected" data-range-target="slider"></span>
   </div>
   <div class="range-input">
     <%= form.range_field :start_time,
       value: unless section.start_time_second.nil? then section.start_time.to_i.to_f else 0.0 end,
       class: "min",
       min: 0.0,
       max: lesson.duration_in_seconds,
       step: 0.01,
       data: { action: "input->range#update", "range-target" => "min" } %>
     <%= form.range_field :end_time,
       value: unless section.end_time_second.nil? then section.end_time.to_i.to_f else lesson.duration_in_seconds.to_i.to_f end,
       class: "max",
       min: 0.04,
       max: lesson.duration_in_seconds,
       step: 0.01,
       data: { action: "input->range#update", "range-target" => "max" } %>
   </div>
<% end %>
