<h1>New section</h1>

<div>
  <div id="player" style="display: none"></div>
</div>

<%= render "range", lesson: @lesson %>

<%= render "form", section: @section %>

<br>

<div>
  <%= link_to "Back to lesson", lessons_path %>
</div>
