<h1>New section</h1>

<div class="player"
     data-controller="player"
     data-video-id=<%= video_id(@lesson) %>
     data-loop="true"
     data-end=<%= @lesson.duration_in_seconds %>
     data-edit="true">
  <div id="player"></div>
</div>

<%= turbo_frame_tag "sections" do %>
  <%= render "form", section: @section %>
<% end %>
