<h1>New section</h1>

<div data-controller="player" data-video-id=<%= video_id(@lesson) %>>
  <div id="player"></div>
</div>

<%= render "range", lesson: @lesson %>

<%= render "form", section: @section %>

<br>

<div>
  <%= link_to "Back to lesson", lessons_path %>
</div>
