<div id="<%= dom_id lesson %>" class="lesson-item">
  <%= image_tag(video_thumbnail_url(lesson), class: "lesson-item-thumbnail", size: "314x177") %>
  <div class="lesson-item-title">
    <%= instrument_emoji(lesson) %>
    <%= link_to lesson.name, lesson %>
  </div>
  <div class="lesson-item-subtitle">
    Now learning:
  </div>

</div>
