<div id="<%= dom_id lesson %>" class="lesson-item">
  <%= image_tag(video_thumbnail_url(lesson), class: "lesson-item-thumbnail", size: "314x177") %>
  <div class="lesson-item-title">
    <%= instrument_emoji(lesson) %>
    <%= link_to lesson.name, lesson, data: { turbo: false } %>
  </div>
  <% if lesson.sections.size > 0 then %>
    <div class="lesson-item-subtitle">
      Now learning:
    </div>
  <% end %>
</div>
