<p style="color: green"><%= notice %></p>

<h1>Lessons</h1>

<div id="lessons" class="lesson-list">
  <% @lessons.each do |lesson| %>
    <%= render lesson %>
  <% end %>
</div>

<%= link_to "New lesson", new_lesson_path %>
