<h1>New lesson</h1>

<%= turbo_frame_tag @lesson do %>
  <%= render "player", lesson: @lesson, actions: new_player_actions, hidden: true do %>
    <%= render "form", lesson: @lesson %>
  <% end %>
<% end %>
