@keyframes appear-then-fade {
    0%, 100% {
      opacity:0
    }
    5%, 60% {
      opacity:1
    }
  }

.flip-in-x { animation: flip-in-x .25s both; }
.fade-in { animation: fade-in .6s both; }
.bounce-in { animation: bounce-in .4s both; }

.fade-out { animation: fade-out .4s both; }
.flip-out-x { animation: flip-out-x .4s both; }
.bounce-out { animation: bounce-out .4s both; }

@keyframes bounce-out {
  20% { transform: scale(.9) }
  50% { transform: scale(1.1); opacity: 1 }
  to { transform: scale(.3); opacity: 0 }
}

@keyframes flip-out-x {
  from { transform: perspective(400px) }
  30% { transform: perspective(400px) rotateX(-15deg); opacity: 1 }
  to { transform: perspective(400px) rotateX(90deg); opacity: 0 }
}

@keyframes fade-in { from { opacity: 0 } }

@keyframes flip-in-x {
  from { transform: perspective(400px) rotateX(90deg); opacity: 0 }
  60% { transform: perspective(400px) rotateX(-15deg); opacity: 1 }
  to { transform: perspective(400px) }
}

@keyframes bounce-in {
  from { transform: scale(.3); opacity: 0 }
  50% { transform: scale(1.05); opacity: 1 }
  70% { transform: scale(.9) }
  to { transform: scale(1) }
}

@media (prefers-reduced-motion: reduce) {
  .flip-in-x, .fade-in, .bounce-in, .fade-out, .flip-out-x, .bounce-out { animation-duration: 1ms }
}

@keyframes fade-out { to { opacity: 0 } }
