<% flash.each do |flash_type, message| %>
  <div
    class="flash"
    data-controller="flash"
    data-action="animationend->flash#remove"
  >
    <div class="message">
      <%= message %>
    </div>
  </div>
<% end %>